/* book section - start */

/* video - start */
#video-container {
  position: relative;
  width: 100vw;
  height: 660px;
}

#video {
  width: 100%;
  height: 660px;
  transform: scaleX(-1);
  object-fit: cover;
  object-position: top;
}

#video-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}

/* end - video */

/* search bar - start */
#search-bar-container {
  width: 100%;
  height: auto;
  min-height: 2rem;
  position: relative;
}

#search-bar-container > div {
  position: absolute;
  top: -25px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: max-content;
}

#search-bar {
  grid-column: 2;
  height: auto;
  padding: 1vw 2vw;
  background-color: black;
  box-shadow: 0 0 2px 1px rgb(255 255 255 / 50%);
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

#search-bar div + div {
  padding-left: 2vw;
}

#search-bar div + #search-icon {
  padding-left: 2vw;
  margin-left: 2vw;
}

#search-bar label {
  color: var(--complementary-color);
  font-family: var(--accent-font);
  font-size: var(--small-font-size);
}

#search-bar input {
  text-align: center;
  border-radius: 10px;
  margin-left: 8px;
}

#search-icon:hover {
  cursor: pointer;
}

#search-icon {
  background-color: transparent;
}

#search-icon > img {
  height: 25px;
  width: auto;
}

/* end - search bar */

/* search result - start */

#search-result {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  display: none;
  grid-template-columns: minmax(6vw, 1fr) repeat(3, minmax(auto, 300px)) minmax(
      6vw,
      1fr
    );
  grid-template-rows: max-content;
  grid-template-areas:
    ". p1 p1 p1 ."
    ". t1 t1 t1 ."
    ". p2 p2 p2 ."
    ". t2 t2 t2 ."
    ". p3 p3 p3 ."
    ". b1 b1 b1 .";
  gap: 2vh 1vw;
  padding-top: 2vh;
  padding-bottom: 4vh;
  text-align: center;
  place-content: center center;
}

#search-result p {
  line-height: 1.7rem;
}

#search-result table {
  background-color: #424242;
  color: var(--complementary-color);
  max-width: fit-content;
  justify-self: center;
  padding: 1vw;
  text-align: left;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 50%);
}

#search-result table:last-of-type {
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 50%);
}

#search-result table:last-of-type td:first-of-type {
  color: var(--accent-color);
}

#search-result table:last-of-type td:last-of-type {
  box-shadow: 0 0 2px 1px rgb(252 250 101 / 50%);
}

#search-result td + td {
  display: block;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-left: 1vw;
  margin-bottom: 5px;
  background-color: var(--complementary-color);
  color: black;
  border-radius: 5px;
}

#search-result tr:last-of-type td:last-of-type {
  margin-bottom: 0;
}

#search-result span {
  font-weight: 600;
}

#search-result p:first-of-type {
  grid-area: p1;
}

#search-result p:nth-of-type(2) {
  grid-area: p2;
}

#search-result p:last-of-type {
  grid-area: p3;
}

#search-result table:nth-of-type(1) {
  grid-area: t1;
}

#search-result table:nth-of-type(2) {
  grid-area: t2;
}

#search-result a {
  grid-area: b1;
  width: fit-content;
  text-align: center;
  justify-self: center;
}

#search-result a button {
  background-color: var(--primary-color);
}

/* end - search result */

@media all and (width <= 800px) {
  #search-bar-container > div {
    grid-template-columns: auto;
  }

  #search-bar {
    grid-column: auto;
    border-radius: 0;
  }

  /* #search-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    gap: 1vh;
    justify-items: center;
    al */
}

@media all and (width <= 700px) {
  #search-bar-container > div {
    position: static;
  }

  #search-bar div + div {
    padding-left: 0;
  }

  #search-bar {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas:
      "i n"
      "o s";
    gap: 2vh;
    place-items: center center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #search-bar div:first-of-type {
    grid-area: i;
  }

  #search-bar div:nth-of-type(2) {
    grid-area: o;
  }

  #search-bar div:nth-of-type(3) {
    grid-area: n;
    justify-self: start;
  }

  #search-icon {
    grid-area: s;
    padding-right: 50%;
  }
}

@media all and (width <= 460px) {
  #search-bar {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas:
      "i ."
      "o s"
      "n .";
  }

  #search-bar div:nth-of-type(3) {
    justify-self: center;
  }

  #search-icon {
    justify-self: start;
  }
}

/* end - book section */
