* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-style: normal;
  font-optical-sizing: auto;
  line-height: 1.5rem;
  letter-spacing: inherit;
  text-decoration: none;
  list-style: none;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;

  /* #4f8a8b #1b2c34 da#424242 CACACA #4B4B48  */
  --primary-color: #000;
  --primary-color-transparent: rgb(0 0 0 / 70%);
  --primary-contrast-color: #fff;
  --complementary-color: #fcfaf1;
  --complementary-contrast-color: #000;
  --accent-color: #f6ce3e;
  --header-font-size: 1.5rem;
  --accent-font-size: 1.1rem;
  --body-font-size: 1rem;
  --small-font-size: 0.885rem;
  --smaller-font-size: 0.775rem;
}

body {
  background-color: var(--complementary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

#book,
#explore,
#reach {
  padding-top: 6vh;
}
