/* reach section - start */

.parent-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

#reach-container {
  grid-column: 2;
  grid-template-rows: none;
  grid-template-areas: none;
  grid-template-columns: minmax(100%, 800px);
  grid-auto-rows: max-content;
  gap: 1vw;
  padding: 3vw 6vw;
  margin: auto;
}

#reach-container > * {
  grid-area: auto;
  max-width: 800px;
}

#reach-container > h3,
#reach-container > p {
  justify-self: left;
  font-size: 1rem;
  margin: 0;
  padding: 5px;
}

#reach-container span {
  font-weight: 600;
  color: darkblue;
}

#reach-container span:hover {
  text-decoration: underline dotted;
}

iframe {
  width: 100%;
  height: 300px;
  border: 0;
}

/* end - reach section */

#contact-form h2 {
  text-align: center;
}

#contact-form p {
  max-width: 800px;
  margin: auto;
}

#contact-form-container {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(6vw, 1fr) auto minmax(6vw, 1fr);
  background-color: #4f8a8b;
  padding: 3vh 1vw;
  padding-bottom: 5vh;
}

#contact-form {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 1vw;
  grid-template-areas:
    " h h "
    " p1 p1 "
    " fn ln "
    " em ph "
    " pr sb "
    " ms ms "
    " bt bt "
    " . . ";
  font-family: var(--body-font);
}

#contact-form > h2 {
  grid-area: h;
}

#contact-form > p:first-of-type {
  grid-area: p1;
}

#contact-form > .firstname {
  grid-area: fn;
}

#contact-form > .lastname {
  grid-area: ln;
}

#contact-form > .email {
  grid-area: em;
}

#contact-form > .phone {
  grid-area: ph;
}

#contact-form > .preferred {
  grid-area: pr;
}

#contact-form > .preferred div {
  display: flex;
  justify-content: start;
  align-items: center;
}

#contact-form > .preferred div + div {
  margin-left: 2vw;
}

.preferred div > label {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  min-width: fit-content;
}

#contact-form > .subject {
  grid-area: sb;
}

#contact-form > .message {
  grid-area: ms;
}

#contact-form > .button {
  grid-area: bt;
}

#contact-form input,
#contact-form textarea {
  background-color: #70a6a7;
  padding: 0.15rem 0.5rem;
  margin: 0;
  width: 100%;
  border-radius: 5px;
  border: 1.5px none #264646;
}

#contact-form input:focus,
#contact-form textarea:focus {
  border-style: dashed;
}

#contact-form abbr {
  color: darkred;
  cursor: help;
  text-decoration: none;
}

#contact-form label {
  font-size: var(--smaller-font-size);
}

#contact-form div {
  display: grid;
  grid-column: 100%;
  grid-auto-rows: max-content;
}

#contact-form button {
  width: fit-content;
  padding: 5px 15px;
  margin: 10px auto;
  color: black /*var(--complementary-color)*/;
  background-color: transparent /*var(--primary-color-transparent)*/;
  border-radius: 10px;
  border: 1px solid black /*var(--complementary-color)*/;
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 50%);
  cursor: pointer;
  font-size: var(--body-font-size);
  font-weight: 600;
}

#contact-form button:hover,
#contact-form button:focus {
  /* color: var(--accent-color); */
  padding: 5px 17px;
  box-shadow: 0 0 4px 2px rgb(0 0 0 / 50%);
}

@media all and (width <= 700px) {
  #contact-form {
    grid-template-columns: 1fr;
    grid-template-areas:
      " h  "
      " p1 "
      " fn "
      " ln "
      " em "
      " ph "
      " pr "
      " sb "
      " ms  "
      " bt  "
      " .  ";
  }
}
