@media all and (width <= 900px) {
  #hamburger-button {
    display: block;
  }

  header .nav-menu {
    display: none;
  }

  #logo {
    margin-right: auto;
  }

  #logo:lang(ar) {
    margin-left: auto;
  }

  /* js */
  .justify {
    justify-content: flex-end !important;
  }

  /* --- */
}

@media all and (width <= 600px) {
  :root {
    font-size: 16px;
  }
}

@media all and (width <= 440px) {
  #notice p:nth-child(2) {
    margin-left: 0;
  }

  .nav-menu {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
